[submodule "demos/rf-webdemo"]
	path = demos/rf-webdemo
	url = git@github.com:robotframework/WebDemo.git
[submodule "docs/01_Introduction_Slide"]
	path = docs/01_introduction_slide
	url = git@github.com:robotframework/IntroSlides.git
[submodule "demos/rf-robotdemo"]
	path = demos/rf-robotdemo
	url = git@github.com:robotframework/RobotDemo.git
[submodule "demos/rf-katas"]
	path = demos/rf-katas
	url = git@github.com:eficode-academy/rf-katas.git
